---
---


<footer>
  <img src="/logo.png" alt="Limp-Bizkit-logo">
  <ul>
    <li><a href="https://www.instagram.com/limpbizkit/?hl=en">Instagram</a></li>
    <li><a href="https://x.com/limpbizkit">Twitter</a></li>
    <li><a href="https://www.youtube.com/c/limpbizkit">Youtube</a></li>
    <li><a href="https://open.spotify.com/artist/165ZgPlLkK7bf5bDoFc6Sb">Spotify</a></li>
  </ul>
</footer>