---
import Navigation from "./navigation.astro";
---


<header>
  <h1>Limp Bizkit</h1>
  <p class="header-p">Limp Bizkit is an infectious spirt. Any other details are merly salad dressing.</p>
  <nav>
    <Navigation />
  </nav>
</header>