---
import BaseLayout from "./layout/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
    
    <section class="page-content">
        <h1>-----</h1>
       
    </section>

</BaseLayout>