---
import BaseLayout from "./layout/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>


<div class="parent">
    <div class="div1"> <h1>Still Limp Bizkit - Still rollin'</h1> </div>
    <div class="div2"> <img src="/bizkit.png" alt="limp-bizkit-band-pic">
    </div>
    <div class="div3">
   <p>
        Limp Bizkit is the undisputed, genre-defying heavyweight of Nu Metal and
        Rap Rock. Hailing from Jacksonville, Florida, the band smashed their way
        into the global consciousness by forging a highly volatile sound
        combining Sam Rivers' thunderous basslines, John Otto's sharp, funky
        drumming, and Fred Durst's aggressive, street-smart lyrical delivery
        with a massive dose of distorted, heavy guitars. The iconic lineup,
        completed by the unpredictable genius of guitarist Wes Borland, whose
        elaborate visual style is a spectacle unto itself and the sonic
        wizardry of DJ Lethal, defined an era. With landmark, multi-platinum
        albums like Significant Other and Chocolate Starfish and the Hot Dog
        Flavored Water, Limp Bizkit delivered a soundtrack for a generation,
        famous for their raw, high-octane live shows and relentless, unfiltered
        aggression.
    </p>
    </div>
</div>
    




    
</BaseLayout>
