---
import BaseLayout from "./layout/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="parent">
        <div class="div1"><h1>Still Limp Bizkit - Still rollin'</h1></div>
        <div class="div2">
            <img src="/bizkit.png" alt="limp-bizkit-band-pic" />
        </div>
        <div class="div3">
            <p>
                Limp Bizkit is the undisputed heavyweight champion of Nu Metal
                and Rap Rock, plain and simple. These guys stormed out of
                Jacksonville, Florida, and completely smashed the music scene by
                forging a highly volatile sound: they mixed Fred Durst's
                aggressive, smart lyrics with Sam Rivers' thunderous
                basslines, John Otto's sharp, funky drumming, and a massive dose
                of distorted, heavy guitars. With the iconic lineup completed by
                the unpredictable genius of guitarist Wes Borland, who is
                basically a walking art installation, and the sonic wizardry of
                DJ Lethal, they defined an entire era. With monster,
                multi-platinum albums like Significant Other and Chocolate
                Starfish and the Hot Dog Flavored Water, Limp Bizkit delivered
                the soundtrack for a generation, famous for their raw,
                high-octane live shows and relentless, totally unfiltered
                energy.
            </p>
        </div>
    </div>
</BaseLayout>
