---
import BaseLayout from '../pages/layout/BaseLayout.astro';

const pageTitle = "home";

---

<BaseLayout pageTitle={pageTitle}>


<main>
 
<video class="video"  controls loop muted autoplay src="/limp-biz.mp4"></video>
    

    
</main>

</BaseLayout>
