---
import BaseLayout from "./layout/BaseLayout.astro";
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <BaseLayout>
  <body>
    

    <h1>Blog</h1>
  
    <ul class="blog-posts">
      <li><a href="/posts/post-1/">Loserville Tour</a></li>
       <li><a href="/posts/post-2">Bringing style back to Nu Metal</a></li>
      <li><a href="/posts/post-3">Fred's hair</a></li>
    </ul>
    </BaseLayout>
  </body>
</html>
