---
import BaseLayout from "./layout/BaseLayout.astro";
const pageTitle="playlist" 
const initialSongs = [
  "Break stuff - Limp Bizkit",
  "Rollin' - Limp Bizkit",
  "Take a look around - Limp Bizkit",
  "My way - Limp Bizkit ",
  "Nookie - Limp Bizkit ",
  "Hot Dog - Limp Bizkit",
  "Livin'it up - Limp Bizkit"
];
---
<BaseLayout pageTitle={pageTitle}>
   

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
</head>
<body>
    <h1>Playlist</h1>

    <button id="shuffle-button">🔀 Shuffle</button>

    <ul id="playlist-container">
        

    <hr>

    <h2>Add a New Song</h2>
    <form id="add-song-form">
        <label for="song-title">Song Title:</label>
        <input type="text" id="song-title" name="songTitle" required placeholder="Artist - Title">
        <button type="submit">➕ Add Song</button>
    </form>

    

    
</body>
</html>