* {
    background-color: black;
    color: white;
}

body {

  font-family: "Syne Mono", monospace;
  font-weight: 400;
  text-transform: capitalize;
}

h1 {
    text-align: center;
    
}

header {
margin: 0;
  padding: 30px ;
  background-color: black;
  text-align: center; 
}

.title {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  font-weight: bold;
   font-size: 5em;
}

.title:hover {
    color: greenyellow;
    transition: ease-in-out (0.3s);
}



header p {
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 5px;
}

ul, a {
    list-style-type: none;
    text-decoration: none;
    display: inline-flex;
    float: right;
    display: flex;
    justify-content: space-evenly;
    
}

.nav-links a {
    padding: 0 15px;
}

a:hover {
    color: greenyellow;
    transition: ease-in-out (0.3s);
}

.video {
    position: relative;
   left: 5%;
   width: max-content;
   opacity: 90%;
   margin-top: 10%;
}

footer a{
padding: 0 15px;
}

footer {
    margin-top: 10%;
}

.blog-posts {

  margin: 0 auto;
  width: 80%; 
  max-width: 1000px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-evenly;
  list-style: none;
  padding: 5%;
  margin-right: 10%;
}

.blog-posts li {
  padding: 5px 10px;
     list-style-type: circle;
     text-decoration: underline;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    align-items: left;

}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
    padding: 1%;
   
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 2;
    padding: 2%;
    font-weight: 2%;
    line-height: 30px;
}
        